doctype html
html(lang='en')
  head
    title paperplane
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    link(href='/public/favicon.png' rel='icon' type='image/png')

    body
      img(src='/public/paperplane.jpg')
      p
        pre= JSON.stringify(users, null, 2)
